MLFLOW_TRACKING_URI=http://localhost:5000
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
GRAFANA_ADMIN_PASSWORD=admin
DVC_REMOTE_PATH=/tmp/dvc-storage
MODEL_NAME=churn_xgboost
SLACK_WEBHOOK_URL=your_webhook_here
